@import "../../mixins.scss";
.slider-banner-img {
  width: 100% !important;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.slider-item {
  aspect-ratio: 1 / 1.7 !important;
  height: 100% !important;
  min-height: 235px !important;
  border-radius: 12px;
  overflow: hidden;
  width: 150px !important;
  cursor: pointer;
  @include md {
    width: calc(20%) !important;
  }
  .film-title {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  .slider-img {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    filter: blur(0);
    transition: filter 0.3s;
  }
  &:hover {
    scale: 1.1;
    transition: scale 0.8s ease-out;
  }
}

.loadingSkeleton {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  margin-right: 20px;
  @include md {
    gap: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .skeletonItem {
    width: 150px;
    aspect-ratio: 1 / 1.7 !important;
    @include md {
      width: calc(20%) !important;
    }
    @include lg {
      width: calc(20% - 16px);
    }
    flex-shrink: 0;
    .posterBlock {
      aspect-ratio: 1 / 1.7 !important;
      border-radius: 12px;
      width: 100%;
      margin-bottom: 20px;
    }
    .textBlock {
      display: flex;
      flex-direction: column;
      .title {
        width: 100%;
        height: 20px;
        margin-bottom: 10px;
        border-radius: 12px;
      }
      .date {
        width: 75%;
        height: 20px;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(255, 255, 255) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  padding: 100%;
  @include md {
    font-size: 40px !important;
  }
}
