@import "../../mixins.scss";

.slider-section {
  position: relative;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.slider-banner {
  position: relative;
  .film-content {
    color: white;
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 20%;
    left: 5%;
    @include md {
      width: 40%;
      height: 100%;
      top: 20%;
      left: 10%;
    }
    .film-title {
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 3;
      font-size: 30px;
      font-weight: 900;
      line-height: 1.3;
      @include md {
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        font-size: 80px;
        font-weight: 900;
      }
    }
    .film-overview {
      line-height: 1.5;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 5;
      @include md {
        font-size: 20px;
      }
    }
  }
}
.slider-banner-img {
  width: 100% !important;
  height: 100%;
  object-position: center;
  object-fit: cover;
  // border-radius: 20px;
}

// style section
.slider-item {
  aspect-ratio: 1 / 1.5 !important;
  height: 100% !important;
  min-height: 235px !important;
  border-radius: 12px;
  overflow: hidden;
  width: calc(50% - 10px) !important;
  cursor: pointer;
  @include md;
  @include sm {
    width: calc(20% - 20px) !important;
  }
  & span {
    height: 100% !important;
  }
  .film-title {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  .slider-img {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    filter: blur(0);
    transition: filter 0.3s;
  }
  &:hover {
    scale: 1.05;
    transition: scale 0.8s ease-out;
  }
}

.opacity-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 252, 252, 0) 0%,
    var(--black) 90%
  );
  bottom: 0;
  left: 0;
  z-index: 1;
}

.loadingSkeleton {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  margin-right: 20px;
  @include md {
    gap: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .skeletonItem {
    width: calc(50% - 10px);
    aspect-ratio: 1 / 1.5 !important;
    @include md {
      width: calc(20% - 20px) !important;
    }
    @include lg {
      width: calc(20% - 20px) !important;
    }
    flex-shrink: 0;
    .posterBlock {
      aspect-ratio: 1 / 1.5 !important;
      border-radius: 12px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.button-action {
  display: flex;
  gap: 10px;
  .action-btn {
    // width: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    color: white;
    padding: 5px 10px;
    margin: 20px 0px;
    border-radius: 30px;
    &:hover {
      background-color: var(--pink);
    }
    svg {
      @include md {
        font-size: 30px;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .text {
      font-size: 16px;
      transition: all 0.7s ease-in-out;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(255, 255, 255) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  padding: 100%;
  @include md {
    font-size: 40px !important;
  }
}
